@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(75,184,255,1.00);
}
canvas {
  display: block;
	position:absolute;
	top: 0%;
	left: 0%;
}

body h1 {
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 100pt;
    font-weight: 700;
}

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#overlap {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
}
