@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
body h1 {
    text-align: center;
	font-family: 'Gemunu Libre', sans-serif;
}

canvas {
	position: absolute;
    top: 0px;
    left: 0px;

}


#backgroundElement {
    position: relative;
    top: 0px;
    padding-top: 50px;
}



